.input {
  $root: &;

  position: relative;

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__label-text {
    font-size: 1rem;
    position: absolute;
    transition: all 0.33s;
    cursor: text;
    top: 50%;
    transform: translateY(-50%);
  }

  &__label-background {
    position: absolute;
    display: none;
  }

  &__field {
    outline: 0;
    font-size: 1rem;
    width: 100%;

    &::placeholder {
      opacity: 1;
    }
  }

  &__label &__field {
    &::placeholder {
      opacity: 0;
    }
  }

  &__field:not(:placeholder-shown) + &__label-text {
    cursor: default;
  }

  &_variant_primary {
    $horizontal-padding: 12px;
    $vertical-padding: 14px;
    $placeholder-color: rgba(0, 0, 0, 0.5);
    $background-color: #fff;
    $max-border-width: 2px;
    $label-filled-font-size: 0.8rem;

    #{$root}__label-text {
      left: $horizontal-padding + 1;
      color: $placeholder-color;
      z-index: 2;
    }

    #{$root}__label-background {
      display: block;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      left: $horizontal-padding + 1;
      color: transparent;
      height: $max-border-width;
      font-size: $label-filled-font-size;
      transition: all 0.33s;
    }

    #{$root}__field {
      border: 1px solid rgba(0, 0, 0, 0.38);
      border-radius: 8px;
      padding: $vertical-padding $horizontal-padding;
      background-color: $background-color;

      &:focus {
        border-color: rgba(0, 0, 0, 0.44);
        border-width: $max-border-width;
        padding: $vertical-padding - 1 $horizontal-padding - 1;
      }

      &::placeholder {
        color: $placeholder-color;
      }
    }

    #{$root}__field:not(:placeholder-shown) + #{$root}__label-text {
      top: 0;
      font-size: $label-filled-font-size;
      color: #4e4e4e;
    }

    #{$root}__field:not(:placeholder-shown) ~ #{$root}__label-background {
      top: 0;
      transform: none;
      background-color: $background-color;
      color: $background-color;
    }
  }

  &_variant_filled {
  }
}
