.input {
  $root: &;

  position: relative;
  width: 100%;
  font-size: 1rem;

  &__label-text {
    position: absolute;
    cursor: text;
    font-size: 1rem;
    transition: all 0.33s;
  }

  &__label-background {
    position: absolute;
    display: none;
  }

  &__field {
    width: 100%;
    outline: 0;
    transition: all 0.33s;
    font-size: inherit;

    &::placeholder {
      opacity: 1;
    }

    &_without-placeholder {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__field:not(:placeholder-shown) + &__label-text {
    cursor: default;
  }

  &__left-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;

    svg {
      height: 1.2em;
      object-fit: contain;
    }
  }

  &_variant_primary {
    $horizontal-padding: 14px;
    $vertical-padding: 16px;
    $placeholder-color: rgba(0, 0, 0, 0.5);
    $background-color: #fff;
    $border-width: 1px;
    $label-font-size-when-filled: 0.85rem;

    @mixin label-background_with-placeholder {
      top: 0;
      background-color: $background-color;
      color: $background-color;
      transform: none;
    }

    #{$root}__label-text {
      z-index: 2;
      top: 50%;
      left: $horizontal-padding + 1;
      color: $placeholder-color;
      transform: translateY(-50%);

      &_with-placeholder {
        top: 0;
        color: #4e4e4e;
        font-size: $label-font-size-when-filled;
      }
    }

    #{$root}__label-background {
      z-index: 1;
      top: 50%;
      left: $horizontal-padding - 1;
      display: block;
      height: $border-width;
      padding: 0 2px;
      color: transparent;
      font-size: $label-font-size-when-filled;
      transform: translateY(-50%);
      transition: all 0.18s;

      &_with-placeholder {
        @include label-background_with-placeholder;
      }
    }

    #{$root}__field {
      padding: $vertical-padding $horizontal-padding;
      border: $border-width solid rgba(0, 0, 0, 0.38);
      background-color: $background-color;
      border-radius: 8px;

      &:focus {
        border-color: rgb(25, 118, 210);

        & + #{$root}__label-text_with-placeholder {
          color: rgb(25, 118, 210);
        }
      }

      &::placeholder {
        color: $placeholder-color;
      }
    }

    #{$root}__field:not(:placeholder-shown) {
      & + #{$root}__label-text {
        top: 0;
        font-size: $label-font-size-when-filled;
      }

      &:focus + #{$root}__label-text {
        color: rgb(25, 118, 210);
      }

      & ~ #{$root}__label-background {
        @include label-background_with-placeholder;
      }
    }
  }

  &_variant_filled {
    $horizontal-padding: 10px;
    $placeholder-color: rgba(0, 0, 0, 0.5);
    $top-padding: 24px;
    $border-bottom-width: 1px;

    #{$root}__field {
      padding: $top-padding $horizontal-padding 8px $horizontal-padding;
      border: 0;
      border-bottom: $border-bottom-width solid #20262d;
      background-color: rgba(0, 0, 0, 0.06);

      &::placeholder {
        color: $placeholder-color;
      }

      &:focus {
        border-bottom-color: rgb(25, 118, 210);
      }
    }

    #{$root}__label-text {
      top: $top-padding;
      left: $horizontal-padding;
      color: $placeholder-color;
    }

    #{$root}__field:not(:placeholder-shown) {
      & + #{$root}__label-text {
        top: 4px;
        color: #4e4e4e;
        font-size: 0.85rem;
      }
    }
  }
}
