$button-line-height: 1.125;

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  line-height: $button-line-height;
  transition: all 0.33s;
  white-space: pre-line;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  // &__text {
  //   width: 100%;
  // }

  &_variant_primary {
    border: 0.0625rem solid #1890ff;
    background-color: #1890ff;
    color: #fff;

    &:hover:enabled {
      border-color: #40a9ff;
      background-color: #40a9ff;
    }

    &:active:enabled {
      background-color: #096dd9;
    }
  }

  &_variant_primary-outlined {
    border: 0.0625rem solid #1890ff;
    background-color: #fff;
    color: #1890ff;

    &:hover:enabled {
      border-color: #096dd9;
      background-color: rgba(25, 118, 210, 0.04);
      color: #096dd9;
    }

    &:active:enabled {
      background-color: rgba(25, 118, 210, 0.15);
    }
  }

  &_variant_danger {
    border: 0.0625rem solid rgba(211, 47, 47, 0.5);
    background-color: #ff4d4f;
    color: #fff;

    &:hover:enabled {
      border-color: #d32f2f;
      background-color: #d32f2f;
    }

    &:active:enabled {
      background-color: #b81d1d;
    }
  }

  &_variant_danger-outlined {
    border: 0.0625rem solid rgba(211, 47, 47, 0.5);
    background-color: #fff;
    color: #d32f2f;

    &:hover:enabled {
      border-color: #b81d1d;
      background-color: rgba(211, 47, 47, 0.04);
      color: #b81d1d;
    }

    &:active:enabled {
      background-color: rgba(211, 47, 47, 0.15);
    }
  }

  &_size_small {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
  }

  &_size_normal {
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
  }

  &_size_large {
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
  }

  &_text-align_start {
    text-align: start;
  }

  &_text-align_center {
    text-align: center;
  }

  &_text-align_end {
    text-align: end;
  }

  &_justify-content_start {
    justify-content: flex-start;
  }

  &_justify-content_center {
    justify-content: center;
  }

  &_justify-content_end {
    justify-content: flex-end;
  }

  &_full-width {
    width: 100%;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 0.625rem;

    svg {
      height: 1em * $button-line-height;
      object-fit: contain;
    }
  }
}
