.button {
  padding: 12px 32px;
  border: 0;
  background-color: #f5f5fa;
  border-radius: 24px;
  box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.5);
  color: #7878ab;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.33s;
  transition-property: color, background-color;
  white-space: pre-line;

  &:hover {
    background-color: #e5e5f0;
    color: #7777bd;
  }

  &:disabled {
    background-color: #f5f5fa;
    color: rgb(120, 120, 171, 0.25);
    cursor: not-allowed;
  }
}
